<article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="../../../../assets/images/meetingroomlist.png">
      </p>
    </figure>
    <div class="media-content room-list--item">
      <div class="content">
          <p> Room {{index}} </p>
          <p> Capacity: {{room.capacity}} </p>
      </div>
      <button class="button is-medium is-primary"></button>
    </div>
    <div class="media-right">
      <button class="delete"></button>
    </div>
  </article>