
<div class="columns">
  <div class="column is-6 is-offset-1">
    <h3 class="title"> Create an Update </h3>

    <div class="field">
        <label class="label"> When? </label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input">
        </div>
      </div>
      
      <div class="field">
          <label class="label"> What time? </label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input">
          </div>
        </div>

      <div class="field">
        <label class="label"> Capacity </label>
        <div class="dropdown">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span> - choose -</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                  less than 6
                </a>
                <a class="dropdown-item">
                  7
                </a>
                <a href="#" class="dropdown-item is-active">
                  8
                </a>
                <a href="#" class="dropdown-item">
                  9
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                  More than 10
                </a>
              </div>
            </div>
          </div>
      </div>
      
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I want to be notified
          </label>
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
      </div>
  </div>
</div>