<section class="section">
    <app-header></app-header>
</section>
<section>
  <div class="columns">
    <div class="column is-offset-1">
      <h2 class="title"> Your current space: HubHub (20 Farringdon EC4A 4EN, London) <small class="has-text-grey"> (change)</small></h2>
    </div>
  </div>
</section>
<section class="section">
    <div class="columns" style="height:70vh">
        <div class="column is-2 menu-line">
          <app-menu></app-menu>
        </div>
        <div class="column is-10">
          <router-outlet></router-outlet>
        </div>
      </div>
</section>
