
<div class="columns">
    <h2 class="title"> Your bookings: </h2>
  <div class="column is-6 is-offset-1">
    <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="../../../../assets/images/meetingroomlist.png">
          </p>
        </figure>
        <div class="media-content room-list--item">
          <div>
              <p> Meeting Room </p>
              <p> 17-06-2019 15:00 </p>
          </div>
        </div>
        <div class="media-right">
            <button class="button is-primary"> Details </button>
            <button class="button is-warning"> Cancel </button>
        </div>
      </article>

  </div>
</div>